{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}{% trans "ITU Robot Olympics 2015" %}</title>
    <link href="{% static "outsource/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "outsource/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div class="container" style="padding-top: 40px;">
      <div class="row">
        <div id="sidebar" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          {% include "sidebar.html" %}
        </div>
        <div id="content" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="{% static "outsource/js/jquery.min.js" %}"></script>
    <script src="{% static "outsource/js/bootstrap.min.js" %}"></script>
    {% block extrascripts %}{% endblock %}
  </body>
</html>
