{% load i18n %}
{% load staticfiles %}

<div class="header">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img alt="{% trans "ITU Robot Olympics" %}" src="{% static "project/img/logo-mix-small.png" %}">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Devices <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/device/create/"><span class="glyphicon glyphicon-plus"></span> New Device</a></li>
              <li><a href="/device/list/"><span class="glyphicon glyphicon-th-list"></span> Device List</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/user/create/"><span class="glyphicon glyphicon-plus"></span> New User</a></li>
              <li><a href="/user/list/"><span class="glyphicon glyphicon-th-list"></span> User List</a></li>
            </ul>
          </li>
          <li><a href="/device/list/">Devices</a></li>
        </ul>
        <!--ul class="nav navbar-nav navbar-right">
          <li><p class="navbar-text">Signed as <span class="text-info"></span></p></li>
          <li><a href="/logout/">Logout</a></li>
        </ul-->
      </div>
    </div>
  </nav>
</div>
