{% load i18n staticfiles %}

<div class="header">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'homepage' %}">
          <img id="logo-image" alt="{% trans "ITU Robot Olympics" %}" src="{% static "project/img/logo-metin-kucuk.png" %}">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'site-homepage' %}">{% trans 'Site' %}</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'project_list' %}">{% trans 'My Projects' %}</a></li>
          {% if PROJECT_CREATE %}<li><a href="{% url 'project_create' %}">{% trans 'New Project' %}</a></li>{% endif %}
          {% else %}
          <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
          {% if USER_REGISTER %}<li><a href="{% url 'user-register' %}">{% trans 'Register' %}</a></li>{% endif %}
          {% endif %}
          {% if PROJECT_ORDERS %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Orders" %} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {% for category, category_display in ORDER_CATEGORIES %}
              <li><a href="{% url "race_order_list" category %}">{{ category_display }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          {% if PROJECT_RESULTS %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Results" %} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {% for category, category_display in RESULT_CATEGORIES %}
              <li><a href="{% url "result_list" category %}">{{ category_display }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <p class="navbar-text">
              <span class="text-info"><a href="{% url 'user-update' %}">{{ user }}</a></span>
            </p>
          </li>
          <li><a id="language-button" href="#">{% trans "Türkçe" %}</a></li>
          <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
          {% else %}
          <li><a id="language-button" href="#">{% trans "Türkçe" %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>
