{% load i18n %}
{% load staticfiles %}

<img src="{% static "project/img/logo-ari.png" %}" class="img-responsive center-block">
<img src="{% static "project/img/logo-metin.png" %}" class="img-responsive center-block">
<h5 class="text-center"><strong>İTÜ Robot Olimpiyatları 2015</strong></h5>

{% if user.is_authenticated %}
  <p class="text-center">ilkerksn@gmail.com olarak giriş yapıldı.</p>
{% endif %}

<ul class="nav nav-pills nav-stacked">
  <li role="presentation">
    <a href="#" class="text-center">
      {% trans "Homepage" %}
    </a>
  </li>
  {% if user.is_authenticated %}
    <li role="presentation">
      <a href="#" class="text-center">
        {% trans "New Project" %}
      </a>
    </li>
    <li role="presentation">
      <a href="#" class="text-center">
        {% trans "My Project" %}
      </a>
    </li>
    <li role="presentation" class="text-center">
      <a href="#">
        {% trans "Profile" %}
      </a>
    </li>
    <li role="presentation" class="text-center">
      <a href="#">
        {% trans "Logout" %}
      </a>
    </li>
  {% else %}
    <li role="presentation" class="text-center">
      <a href="#">
        {% trans "Login" %}
      </a>
    </li>
    <li role="presentation" class="text-center">
      <a href="#">
        {% trans "Register" %}
      </a>
    </li>
    {% endif %}
</ul>
