from django.utils.translation import ugettext_lazy as _

EMAIL_PORT = 587
EMAIL_HOST = ""
EMAIL_HOST_USER = ""
EMAIL_HOST_PASSWORD = ""

ALL_CATEGORIES = (
    ('line_follower', _('Line Follower')),
    ('micro_sumo', _('Micro Sumo')),
    ('fire_fighter', _('Fire Fighter')),
    ('basketball', _('Basketball')),
    ('stair_climbing', _('Stair Climbing')),
    ('maze', _('Maze')),
    ('color_selecting', _('Color Selecting')),
    ('self_balancing', _('Self Balancing')),
    ('scenario', _('Scenario')),
    ('innovative', _('Innovative')),
)

CREATE_CATEGORIES = tuple(ALL_CATEGORIES)
UPDATE_CATEGORIES = tuple(ALL_CATEGORIES)
CONFIRM_CATEGORIES = tuple(ALL_CATEGORIES)

SIMULATION_TOKEN = "asdasd"
