{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{% block title %}{% trans 'Create Project' %} - {% endblock %}
{% block content %}
<div class="page-header">
  <h1>{% trans 'Create Project' %}</h1>
</div>

{% bootstrap_messages %}
<form enctype="multipart/form-data" action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% trans 'Create Project' %}
  </button>
  {% endbuttons %}
</form>
{% endblock %}


{% block extrascripts %}
<script src="{% static "project/js/project_create.js" %}"></script>
{% endblock %}
