{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{% block title %}{% trans 'Update Project' %}: {{ object.name }} - {% endblock %}
{% block content %}
<div class="page-header">
  <h1>{% trans 'Update Project' %} <strong>{{ object.name }}</strong></h1>
</div>

{% bootstrap_messages %}
<form enctype="multipart/form-data" action="" method="post" class="form">
  {% csrf_token %}
  <div class="form-group">
    <label class="control-label" for="id_category">Category</label>
    <input class="form-control" id="id_category" type="text" value="{{ object.get_category_display }}" disabled="disabled">
  </div>
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% trans 'Update Project' %}
  </button>
  {% endbuttons %}
</form>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
$(document).ready(function(){
  $("label[for='id_manager']").insertAfter("#id_name");
  $("label[for='id_manager']").css("padding-top","10px");
  $("#id_manager").insertAfter("label[for='id_manager']");
  $("#id_manager").val("{{ object.manager.email }}"); 
});
</script>
{% endblock %}
