{% extends "base.html" %}
{% load i18n static bootstrap3 %}

{% block title %}{% trans 'Project Detail' %}: {{ object.name }} - {% endblock %}
{% block content %}
<div class="page-header">
  <h1>{% trans 'Project Detail' %} <strong>{{ object.name }}</strong></h1>
</div>

{% bootstrap_messages %}
<div>
  <h3><strong>{% trans 'Name' %}</strong></h3>
  <h3>{{ object.name }}</h4>
</div>

<div style="margin-top: 10px;">
  <h3><strong>{% trans 'Category' %}</strong></h3>
  <h3>{{ object.category }}</h3>
</div>

{%if object.category == "innovative" %}
<div style="margin-top: 10px;">
  <h3><strong>{% trans 'Presentation' %}</strong></h3>
  <h3><a href="{{ object.presentation.url }}">{{ object.get_presentation_file_name }}</a></h3>
</div>
{% endif %}
{% if team %}
<div style="margin-top: 10px;">
  <h3><strong>{% trans 'Project Team' %}</strong></h3>
  <ul class="list-unstyled">
    {% for membership in team %}
    <li>
      {{ membership.member }}
      {% if is_manager and not user == membership.member %}
      <a href="{% url 'member_delete' membership.id %}">{% trans 'delete' %}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if is_manager %}
<div style="margin-top: 10px;">
  <a class="btn btn-primary" href="{% url "project_update" object.id %}" role="button">
    {% trans 'Update Project' %}
  </a>
  <a class="btn btn-danger" href="{% url "project_delete" object.id %}" role="button">
    {% trans 'Delete Project' %}
  </a>
  <a class="btn btn-success" href="{% url "member_create" object.id %}" role="button">
    {% trans 'New Member' %}
  </a>
</div>
{% endif %}
{% endblock %}
