{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{% trans 'Delete Project' %} - {% endblock %}
{% block content %}
<div class="page-header">
  <h1>{% trans 'Delete Project' %}</h1>
</div>

{% bootstrap_messages %}
<form action="" method="post" class="form">
  {% csrf_token %}
  <div class="alert alert-info">
    {% blocktrans %}You are about to delete {{ object }}. Are you sure?{% endblocktrans %}
  </div>
  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% trans 'Confirm' %}
  </button>
  {% endbuttons %}
</form>
{% endblock %}
