{% extends "base.html" %}
{% load i18n static bootstrap3 project_qrcode_generator user_qrcode_generator %}

{% block title %}{% trans 'Project QrCode' %}: {{ object.name }} - {% endblock %}
{% block content %}

<div style="width: 8cm; height: 2cm; display: table; margin-left:auto; margin-right:auto; margin-top: 15px;">
  <div style="display: table-row;">
    <div style="display: table-cell; width: 4.2cm; overflow: hidden;">
      <div style="width: 60px; float: left;">{{ user_qr|user_qrcode }}</div>
      <div style="margin-left: 64px; margin-top: 14px; font-size: 12px"><b>{{ object.manager.name }}</b></div>
    </div>
    <div style="display: table-cell; width: 3.8cm; overflow: hidden;">
      <div style="width: 60px; float: left;">{{ project_qr|project_qrcode }}</div>
      <div style="margin-left: 64px; margin-top: 14px; font-size: 12px"><b>İTÜRO 2016</b></div>
    </div>
  </div>
</div>

<div class="hidden-print text-center" style="margin-top: 25px;">
  <a class="btn btn-primary" href="{% url "project_confirm" %}" role="button">{% trans 'Back' %}</a>
</div>

{% endblock %}
