{% extends "base.html" %}
{% load i18n bootstrap3 humanize %}

{% block title %}{% trans "Line Follower Race Orders" %}{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans "Line Follower Race Orders" %}</h1>
</div>

{% bootstrap_messages %}
{% for stage in object_list %}
<h2>
  <a href="{% url "line_follower_robot_list" stage.order %}">
    {% trans "Line Follower" %}
    {% if not stage.is_final %}
    {{ stage.order|ordinal }} {% trans "Stage" %}
    {% else %}
    {% trans "Final Stage" %}
    {% endif %}
    {% trans "Race Orders" %}
  </a>
</h2>
{% endfor %}
{% endblock %}
