{% extends "base.html" %}
{% load i18n bootstrap3 humanize %}
{% load url from future %}

{% block title %}
{% if not stage %}
{{ category_display }}
{% else %}
{% blocktrans with order=stage.order|ordinal %}Line Follower {{ order }} Stage{% endblocktrans %}
{% endif %}
{% trans "Race Orders" %} - {% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    {% if not stage %}
    {{ category_display }}
    {% else %}
    {% blocktrans with order=stage.order|ordinal %}Line Follower {{ order }} Stage{% endblocktrans %}
    {% endif %}
    {% trans "Race Orders" %}
  </h1>
</div>

{% bootstrap_messages %}
<table class="table table-bordered">
  <thead>
    <tr>
      <td class="col-lg-2"><strong>{% trans "Race Order" %}</strong></td>
      <td class="col-lg-6"><strong>{% trans "Robot Name" %}</strong></td>
      <td class="col-lg-2"><strong>{% trans "Referee" %}</strong></td>
      <td class="col-lg-2"><strong>{% trans "Results" %}</strong></td>
    </tr>
  </thead>
  {% for order in object_list %}
  <tr>
    <td class="col-lg-2">{{ order.order }}</td>
    <td class="col-lg-6">{{ order.project }}</td>
    <td class="col-lg-2">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          <span class="glyphicon glyphicon-wrench"></span> {% trans "Actions" %}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="{% url "category_qrcode" order.project.pk %}"><span class="glyphicon glyphicon-check"></span> {% trans "Check QRCode" %}</a>
          </li>
          {% with order.project.category|add:"_result_create" as create_url %}
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="{% url create_url order.project.pk %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Create Result" %}</a>
          </li>
          {% endwith %}

          {% for result in order.project.results.all %}
          {% with order.project.category|add:"_result_update" as update_url %}
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="{% url update_url order.project.pk result.pk %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Update Result" %} <i>#{{ result.pk }} ({{ result.score }})</i></a>
          </li>
          {% endwith %}
          {% endfor %}

          {% for result in order.project.results.all %}
          {% with order.project.category|add:"_result_delete" as delete_url %}
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="{% url delete_url order.project.pk result.pk %}"><span class="glyphicon glyphicon-minus"></span> {% trans "Delete Result" %} <i>#{{ result.pk }} ({{ result.score }})</i></a>
          </li>
          {% endwith %}
          {% endfor %}
        </ul>
      </div>
    </td>
    <td class="col-lg-2">{{ order.project.get_results_count }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
