{% load i18n %}

{% for result in results %}
{% with "simulation_result_update" as update_url %}
<li role="presentation">
  <a role="menuitem" tabindex="-1" href="{% url update_url result.match.stage.id result.match.order result.id %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Update Result" %} <i>#{{ result.id }}</i></a>
</li>
{% endwith %}
{% endfor %}

{% for result in results %}
{% with "simulation_result_delete" as delete_url %}
<li role="presentation">
  <a role="menuitem" tabindex="-1" href="{% url delete_url result.match.stage.id result.match.order result.id %}"><span class="glyphicon glyphicon-minus"></span> {% trans "Delete Result" %} <i>#{{ result.id }}</i></a>
</li>
{% endwith %}
{% endfor %}

