{% extends "base.html" %}
{% load i18n bootstrap3 humanize %}

{% block title %}{% trans "Simulation Stages" %}{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{% trans "Simulation Stages" %}</h1>
</div>

{% bootstrap_messages %}
{% for stage in object_list %}
<h2>
  <a href="{% url "simulation_race_order_list" stage.number %}">
    {% trans "Simulation" %}
    {{ stage.number|ordinal }} {% trans "Stage" %}
    {% trans "Race Orders" %}
  </a>
</h2>
{% endfor %}
{% endblock %}
