{% extends "base.html" %}
{% load i18n bootstrap3 humanize %}

{% block title %}{% trans "Micro Sumo" %} {{ object.order|ordinal }} {% trans "Group" %}{% endblock %}

{% block content %}
<div class="page-header">
  <h1>
    {% if group.is_final %}
        {% trans "Micro Sumo Final Group" %}
    {% else %}
        {% trans "Micro Sumo" %} {{ object.order|ordinal }} {% trans "Group" %}
    {% endif %}

  </h1>
</div>

{% bootstrap_messages %}
<div class="col-md-6">
  <h2 class="text-center">{% trans "Group Teams" %}</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>{% trans "#" %}</td>
        <td>{% trans "Robot" %}</td>
      </tr>
    </thead>
    {% for team in teams %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ team.robot }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div class="col-md-6">
  <h2 class="text-center">{% trans "Group Matches" %}</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>{% trans "Home" %}</td>
        <td>{% trans "Away" %}</td>
      </tr>
    </thead>
    {% for match in matches %}
    <tr>
      <td>{{ match.home }}</td>
      <td>{{ match.away }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
